<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style>
#container {
  margin-top: 20px;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.highcharts-credits{
  display: none;
}
</style>
</head>
<body>

<h2>Flow Meter</h2>



<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">Live Data</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Data Filter</button>
</div>

<div id="London" class="tabcontent">
 <br><br>
Flow: <span id="flow" style="font-weight: bold;"></span>
<br><br>
Time: <span id="time" style="font-weight: bold;"></span>
</div>

<div id="Paris" class="tabcontent">
  <input type="text" id="hidden" style="display: none;">
Choose value: 
<select name = 'pick' id = 'pick_val'>
  <option value="Monthly">Monthly</option>
  <option value="Daily">Daily</option>
</select>
<div id = 'daily_div'>
  Choose a Day:
  <select id = 'choose_day'>
    <option>None
    </option>
  </select>

</div>



  <button id="search" onclick="search_data()">Search</button> 
  <button id="send-mail" onclick="send_data()">Send Mail</button> 
  <button id="down-pdf" onclick="download_data()">Download</button><br><br>
  <div id="container" style="display: none;"></div>
</div>


<script>
function InputChartData(data){
/**
 * Create the data table
 */
  Highcharts.drawTable = function () {

      // user options
      var tableTop = 650,
          colWidth = 200,
          tableLeft = 20,
          rowHeight = 20,
          cellPadding = 2.5;

      // internal variables
      var chart = this,
          series = chart.series,
          renderer = chart.renderer,
          cellLeft = tableLeft;

      // draw category labels
      chart.xAxis[0].categories.forEach(function (name, i) {
          renderer.text(
              name,
              cellLeft + cellPadding,
              tableTop + (i + 2) * rowHeight - cellPadding
          )
              .css({
                  fontWeight: 'bold'
              })
              .add();
      });

      series.forEach(function (serie, i) {
          cellLeft += colWidth;

          // Apply the cell text
          renderer.text(
              serie.name,
              cellLeft - cellPadding + colWidth,
              tableTop + rowHeight - cellPadding
          )
              .attr({
                  align: 'right'
              })
              .css({
                  fontWeight: 'bold'
              })
              .add();

          serie.data.forEach(function (point, row) {

              // Apply the cell text
              renderer.text(
                  Highcharts.numberFormat(point.y),
                  cellLeft + colWidth - cellPadding,
                  tableTop + (row + 2) * rowHeight - cellPadding
              )
                  .attr({
                      align: 'right'
                  })
                  .add();

              // horizontal lines
              if (row === 0) {
                  Highcharts.tableLine( // top
                      renderer,
                      tableLeft,
                      tableTop + cellPadding,
                      cellLeft + colWidth,
                      tableTop + cellPadding
                  );
                  Highcharts.tableLine( // bottom
                      renderer,
                      tableLeft,
                      tableTop + (serie.data.length + 1) * rowHeight + cellPadding,
                      cellLeft + colWidth,
                      tableTop + (serie.data.length + 1) * rowHeight + cellPadding
                  );
              }
              // horizontal line
              Highcharts.tableLine(
                  renderer,
                  tableLeft,
                  tableTop + row * rowHeight + rowHeight + cellPadding,
                  cellLeft + colWidth,
                  tableTop + row * rowHeight + rowHeight + cellPadding
              );

          });

          // vertical lines
          if (i === 0) { // left table border
              Highcharts.tableLine(
                  renderer,
                  tableLeft,
                  tableTop + cellPadding,
                  tableLeft,
                  tableTop + (serie.data.length + 1) * rowHeight + cellPadding
              );
          }

          Highcharts.tableLine(
              renderer,
              cellLeft,
              tableTop + cellPadding,
              cellLeft,
              tableTop + (serie.data.length + 1) * rowHeight + cellPadding
          );

          if (i === series.length - 1) { // right table border

              Highcharts.tableLine(
                  renderer,
                  cellLeft + colWidth,
                  tableTop + cellPadding,
                  cellLeft + colWidth,
                  tableTop + (serie.data.length + 1) * rowHeight + cellPadding
              );
          }

      });


  };

  /**
   * Draw a single line in the table
   */
  Highcharts.tableLine = function (renderer, x1, y1, x2, y2) {
      renderer.path(['M', x1, y1, 'L', x2, y2])
          .attr({
              stroke: 'silver',
              'stroke-width': 1
          })
          .add();
  };

  /**
   * Create the chart
   */
  window.chart = Highcharts.chart('container', {

      chart: {
          events: {
              load: Highcharts.drawTable
          },
          borderWidth: 2,
          width: 600,
          height: 900
      },

      title: {
          text: 'Flow Meter Readings'
      },

      xAxis: {
        title: {
              text: 'Time'
          },
          categories: data.time_list
      },

      yAxis: {
          title: {
              text: 'Flow Rate'
          }
      },

      legend: {
          y: -300
      },

      series: [{
          name: 'Flow Rate',
          data: data.flow_list
      }]
  });
}
//InputChartData()
</script>

<script>

  $(document).ready(function() {
 document.getElementById('daily_div').style.display = "none"
  var getDaysInMonth = function(month,year) {

        return new Date(year, month+1, 0).getDate();
        
     };
  
  $("#pick_val").change(function() {
    
    var el = $(this) ;
    
    if(el.val() === "Daily" ) {
    document.getElementById('daily_div').style.display = ""
    var select = document.getElementById("choose_day");
    

    d = new Date()
    for(var i = 1; i <= getDaysInMonth(d.getMonth(),d.getFullYear()); i++) {
        var opt = i;
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }
    }
      else if(el.val() === "Monthly" ) {
        document.getElementById('daily_div').style.display = "none"
        }
  });
  
});


function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
$(document).ready(function() {
  $.getJSON('/live', function(live) {
    document.getElementById("flow").innerText=live.flow
    document.getElementById("time").innerText=live.time
});
});
function search_data(){
  
    // var f1 = document.getElementById('f1').value
    // var f2 = document.getElementById('f2').value
    var pick_val = document.getElementById('pick_val').value
    var choose_day = document.getElementById('choose_day').value
  $.getJSON('/filter?pick_val='+pick_val+'&choose_day='+choose_day, function(search_data) {
    console.log('----search_data----',search_data)
    InputChartData(search_data)
    document.getElementById("container").style = "display:''"
    document.getElementById('hidden').value = JSON.stringify(search_data)
  });
  

}
function download_data(){
  $(document).ready(function() {
    // search_data()
    var f1 = document.getElementById('f1').value
    var f2 = document.getElementById('f2').value
    var pick_val = document.getElementById('pick_val').value
    console.log('--------------------------------',f1,f2,pick_val)
    $.getJSON('/pdf?get_pdf=true&f1='+f1+'&f2='+f2+'&pick_val='+pick_val, function(down_data) {
    console.log(down_data)
  });

  });

}


function send_data(){
  $(document).ready(function() {
    var f1 = document.getElementById('f1').value
    var f2 = document.getElementById('f2').value
    $.getJSON('/pdf?get_pdf=true&send_mail=true&f1='+f1+'&f2='+f2, function(sending_mail) {
    console.log(sending_mail)
  });
  });

}

</script>

   
</body>
</html> 
