{% extends "main_layout.html" %}

{% block content %}

  <div class="nav">

    <span>
      <img src="static/img/logo.jpeg" width="300px" style="width: 164px;margin-left: 9px;">
    </span>
    <a href="#home">Home</a>
    <a href="#reporting">Reporting</a>
    <a href="#about">About</a>
    <a href="#contact">Contact us</a>
    {% if data.user %}
      <span style="float: right;">
      <a href = "{{ url_for('logout')}}">Log out</a>
    {% else %}
      <span style="float: right;">
      <a href = "{{ url_for('landing_page')}}">Log in</a>
      <a href="{{ url_for('register')}}">Sign up</a>
    {% endif %}
    </span>
  </div>
<!--   <div class="logo">
    <header>
      <span style="margin-left: 94%;">
        <img src="logo.jpeg" width="700px">
      </span>
    </header>
  </div> -->

  <!-- live sensor data -->
  <div class="art clearfix">
    <img src="static/img/water_wastage.png" alt="photo" title="thi is photo">
    <p><b>Live Sensor Reading<b></p>
    <div id="live_data">
      Flow: <span id = "flow"></span>
      <br />
      Time: <span id = "time"></span>
    </div>
  </div>

   <!-- sensor data Reporting -->
  <div id="reporting" class="sty clearfix">
    <span ><p style="text-align: left;margin: 3px 8px -5px 9px;">Reporting</p> </span>
      <input type="text" id="hidden" style="display: none;">
      <span class="txt_span">Choose value: </span>
      <select name = 'pick' id = 'pick_val' style="color: black;font-weight: bold;">
        <option value="None">-None-</option>
        <option value="Monthly">Monthly</option>
        <option value="Daily">Daily</option>
      </select>
      <span id = 'daily_div'>
        <span class="txt_span"> Choose a Day:</span>
        <select id = 'choose_day' style="color: black;font-weight: bold;">
          <option>None
          </option>
        </select>
      </span>
        <button  style="margin-left: 20px;cursor:pointer;" id="search" onclick="search_data()">Search</button>
        <!-- <button style="margin-left: 20px;cursor:pointer;" id="send-mail" onclick="send_data()">Send Mail</button>
        <button style="margin-left: 20px;cursor:pointer;" id="down-pdf" onclick="download_data()">Download</button><br><br> -->
        <div id="container" style="display: none;"></div>

        <div>
          
        </div>
  </div>

  <!-- About div -->
  <div id="about" class="sty clearfix">
    <img src="https://images.pexels.com/photos/50632/pexels-photo-50632.jpeg?cs=srgb&dl=big-ben-bridge-clock-tower-50632.jpg&fm=jpg" title="this is photo" alt="photo">
    <p>About</p>
    <p></p>
  </div>

  <!-- contact div -->
  <div id="contact" class="sty clearfix">
    <img src="https://images.pexels.com/photos/50632/pexels-photo-50632.jpeg?cs=srgb&dl=big-ben-bridge-clock-tower-50632.jpg&fm=jpg" title="this is photo" alt="photo">
    <p>Contact us</p>
    <p></p>
  </div>
</body>
  {% endblock %}