<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/google-fonts.css"> -->

<style type="text/css">
	body {
  height: 100%;
  overflow: hidden;
  outline: none;
  background: url("static/img/background.jpeg");
}
</style>

<head>
	<title>Login</title>
</head>
{% block content %}
	<div class="login">
	    <form role="form" method="post" action = "{{ url_for('login') }}" style="background-color: #f7ffff;opacity: 0.9;">
		    <span>
    	         <img src="static/img/logo.jpeg" width="300px" style="width: 92%;margin-left: 9px;margin-bottom: 26px;">
    		</span>

	        <!-- <label for="username">Username:</label> -->
	        <input type="text" id="username" name="username" placeholder="Username" required="">
	        <!-- <label for="password">Password:</label> -->
	        <input type="password" id="password" name="password" placeholder="Password" required="">
	        <button type="submit" style="background: #191712;color: #f8f8f2;">Login</button>

		    <p><a href="{{ url_for('forgot') }}"  style="color: #26a69a;">Forgot password?</a></p>
		    <p><a href="{{ url_for('register') }}" style="color: #26a69a;">Create an account</a></p>
	    </form>
	    <b style="color: red">
		{% if data.msg is not none %}
			{{data.msg}}
		{% endif %}
	</b>
	</div>
{% endblock %}