<!DOCTYPE html>
<html>
<head>
	<title>RPI: Login</title>
</head>
<!-- <body>
	<form method="post" action = "{{ url_for('login') }}">
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="username" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>
			<a href="{{ url_for('register') }}">Go to Sign Up Page!!</a>
			{% if data.msg is not none %}
				{{data.msg}}
			{% endif %}
		</div>
	</form>
</body>
</html> -->
{% extends "main_layout.html" %}

{% block content %}


<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4" style="text-align: center;color: #e4647c;">
    		<div class="panel panel-default" style="margin-top: 300px;">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">RPI: Login</h3>
			 	</div>
			  	<div class="panel-body">
			  	{% if not data.is_success %}
			    	<form accept-charset="UTF-8" role="form" action = "{{ url_for('reset') }}">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Enter Username" name="username" type="text" required>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Enter DOB" name="dob" type="date" required>
			    			<input name = 'first' value='true' type="hidden">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="submit">
			    	</fieldset>
			      	</form>
				{% elif data.is_success %}
				    	<form accept-charset="UTF-8" role="form" action = "{{ url_for('reset') }}">
	                    <fieldset>
				    	  	<div class="form-group">
				    		    <input class="form-control" placeholder="Enter Password" name="password" type="password" required>
				    		</div>
				    		<div class="form-group">
				    			<input class="form-control" placeholder="Re-enter Password" name="confirm-password" type="password" required>
				    			<input type="hidden" name = 'second' value='true' >
				    			<input type="hidden" name = 'username' value={{data.username}} >
				    		</div>
				    		<input class="btn btn-lg btn-success btn-block" type="submit" value="submit">
				    	</fieldset>
				      	</form>
				{% endif %}
			    </div>
			</div>
		</div>
		{% if data.msg is not none %}
			{{data.msg}}
		{% endif %}
	</div>
</div>
{% endblock %}